
<div th:fragment="sidebar">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center"
           th:href="@{/dashboard}"> <img th:src="@{/img/logo.png}" alt="Dashboard CMS" width="180"> </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/dashboard}">
                <i class="bi bi-house-door"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Pages -->
        <!-- CONTENT -->
        <div class="sidebar-heading">
            Content
        </div>

        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-file-earmark-text"></i>
                <span>Posts</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-file-earmark"></i>
                <span>Pages</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-folder"></i>
                <span>Categories</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-tags"></i>
                <span>Tags</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-images"></i>
                <span>Media Library</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-chat-dots"></i>
                <span>Comments</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <!-- USERS -->
        <div class="sidebar-heading">
            Users
        </div>

        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-people"></i>
                <span>Users</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-shield-lock"></i>
                <span>Roles & Permissions</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/activity-log}">
                <i class="bi bi-clock-history"></i>
                <span>Activity Logs</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <!-- SETTINGS -->
        <div class="sidebar-heading">
            Settings
        </div>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/profile}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/account-settings}">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/system-settings}">
                <i class="bi bi-sliders"></i>
                <span>System Settings</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <!-- OTHER -->
<!--        <div class="sidebar-heading">-->
<!--            Other-->
<!--        </div>-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" th:href="@{/tools}">-->
<!--                <i class="bi bi-wrench"></i>-->
<!--                <span>Tools</span>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" th:href="@{/help}">-->
<!--                <i class="bi bi-question-circle"></i>-->
<!--                <span>Help & Support</span>-->
<!--            </a>-->
<!--        </li>-->

        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>

</div>